<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>TTYL</title>
 
        <!-- Bootstrap -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">

    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">TTYL</h3>
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="inner cover">
                        <h1 class="cover-heading">Message scheduled!</h1>
                        <p class="lead">Thank you for using our site! TTYL is still under construction and is not fully functional yet. Below is a receipt of your submission: </p>
                        <ul style="list-style: none;">
                            <li>Your number: {{ user_num }}</li>
                            <li>Number to send message to: {{ sending_num  }}</li>
                            <li>Date/time to send message: {{ date }}</li>
                            <li>Message: {{ msg }}</li>
                        </ul>  
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <p>TTYL can be found <a href="https://github.com/eyalfoni/TTYL">here</a>, by <a href="https://github.com/eyalfoni">Eyal</a> and <a href="https://github.com/jakegold">Jake</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
            <script src="js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>

